.copywrites {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    padding: 1%;
    text-align: center;
    color: white;
    font-size: 80%;
    background-color: #3B5998;
  }

  .descriptions {
    border-radius: 2rem;
    width: 80%;
  }

  .contact-card {
    /* background-image: url('/assets/images/back.png'); */
    padding: 3%;
    padding-top: 8%;
}

h4 {
    text-align: center;
    color: #E67E22;
}

.icon {
    margin: auto 1%;
    width: 8%;
}

.contact {
    padding: 10% 0% 0% 30%;
}

p {
    color: #7B7D7D;
}

.a {
    color: #7B7D7D;
    text-decoration: none;
}


/* lg */
@media screen and (min-width: 1200px) {
  .contact-card {
    background-color: #3B5998;
    padding: 6% 18% 15% 20%;
  }
}

/* md */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  .contact-card {
    background-color: #3B5998;
    padding: 10% 12% 20% 12%;
  }
}

/* sm */
@media screen and (max-width: 767px) {
  .contact-card {
    background-color: #3B5998;
    padding: 10% 10% 25% 10%;
  }
}

/* xs */
@media screen and (max-width: 479px) {
  .contact-card {
    background-color: #3B5998;
    padding: 10% 10% 25% 10%;
  }
}
