

  .descriptions {
    border-radius: 2rem;
    width: 80%;
  }

  .contact-card {
    /* background-image: url('/assets/images/back.png'); */
    padding: 3%;
    padding-top: 8%;
}

h4 {
    text-align: center;
    color: #E67E22;
}

.icon {
    margin: auto 1%;
    width: 8%;
}

.contact {
    padding: 10% 0% 0% 30%;
}

p {
    color: #7B7D7D;
}

.a {
    color: #7B7D7D;
    text-decoration: none;
}


/* lg */
@media screen and (min-width: 1200px) {
 
}

/* md */
@media screen and (min-width: 768px) and (max-width: 1199px) {
  
}

/* sm */
@media screen and (max-width: 767px) {

}

/* xs */
@media screen and (max-width: 479px) {

}
